* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    background-image: url("picnictable.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 650px;
    max-height: 480px;
    
    
}
#press-me, #start{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 180px;
    bottom:80px;
}
#start:hover {
    transform: scale(1.2);
}
#start{
    left: 260px;
    bottom:60px;
    border-radius: 8px;
    border:1px solid white;
    margin:5px;
    padding:2px 5px;
    background-color: #4477CE;
    font-size:16px;
    font-family: 'Kanit', sans-serif;
    color:#fefefe;
    align-items: center;
    display: inline-block;
    width:110px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
#press-me{
    background-size:cover;
    background: transparent;
   
    
    border-radius: 300px;
    border:none;
    
}
/*#press-me:hover {
    transform: scale(.85);
  } 
*/

#score-brd, #high-score, #timer, #points{
    color:white;
    font-size: 18px;
    background-color: #9bb5e7;
    width: 150px;
    border: 2px solid #512B81;
    margin:5px;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
h1{
    margin-top:20px;
    font-family: 'Poppins', sans-serif;
    color:#0C356A;
    font-weight: 600;
}
 h2 {
    margin-top:-30px;
    ;
    font-family: 'Poppins', sans-serif;
    color:#0C356A;
    font-size: 16px;
}
h1, h2{
    background-color: #285fc1;
    min-width: 100%;
    padding: 10px;
    margin-left:-8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    right: .5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    
  }
  
  .dropdown a:hover {
    background-color: #ddd;
}
  
  .show {
    display: block;
}
  .wrapper {
    position: relative;
  }
  .cookieclicks {
    transform: scale(.85);
  }