* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
@font-face {
  font-family: "Ledsim-JRz7o";
  src: url(/Ledsim-JRz7o.ttf);
}
body{
    background-image: url("picnictable.jpg");
    background-repeat: repeat;
    background-size:cover;
    min-width: 400px;
    min-height: 420px;
    
}

#start:hover {
  background-color: #1b5a84; /* Change the background color on hover */
  box-shadow: 0px 45px 100px 0px rgba(0, 0, 0, 0.4); /* Add a slight shadow on hover */
}
    

#start{
  position: absolute;
  top: 570%;
  left: 50%;
  transform: translate(-50%, -50%);
    border-radius: 8px;
    border:1px solid white;
    margin:5px;
    padding:2px 5px;
    background-color: #4477CE;
    font-size:16px;
    font-family: 'Kanit', sans-serif;
    color:#fefefe;
    align-items: center;
    display: inline-block;
    width:110px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 45px 100px 0px rgba(0,0,0,0.2);

}
#press-me{
    background-size:cover;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    border-radius: 300px;
    border:none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor:pointer;
}

/*#press-me:hover {
    transform: scale(.85);
  } 
*/

#score-brd, #high-score, #points{
    color:white;
    font-size: 18px;
    background-color: #9bb5e7;
    width: 150px;
    border: 2px solid #512B81;
    margin:5px;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left:15px;
}
h1{
    margin-top:20px;
    font-family: 'Poppins', sans-serif;
    color:#0C356A;
    font-weight: 600;
}
 h2 {
    margin-top:-30px;
    ;
    font-family: 'Poppins', sans-serif;
    color:#0C356A;
    font-size: 16px;
}
h1, h2{
    background-color: #285fc1;
    min-width: 100%;
    padding: 10px;
    margin-left:-8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropbtn {
    background-color: #4477CE;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position:absolute;
    right: 5px;
    top:-3px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #424340;
   
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 48px;
    right: 3px;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color:#4477CE;
    padding: 12px 10px;
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    font-weight: bold;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
}
  
  .show {
    display: block;
}
  .wrapper {
    position: relative;
  }
 
  #timer {
    position: absolute;
    top: 100%;
    left: 70px;
    transform: translate(-50%, 550%);
    padding-top: 19px;
    background-color: #424340;
    font-family: Ledsim-JRz7o;
    font-weight: bold;
    font-size: 35;
    border: 5px solid #4477CE;
    border-radius: 10px;
    color: #4477CE;
    width: 80px;
    height: 80px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px #abbfe2;
  }
  #multdisplay{
    position: absolute;
    top: 100%;
    left: 70px;
    transform: translate(-50%, 990%);
    
    background-color: #424340;
    font-family: Ledsim-JRz7o;
    font-weight: bold;
    font-size: 20;
    border: 4px solid #4477CE;
    border-radius: 10px;
    color: #4477CE;
    width:45px;
    height:40px;
    box-shadow: 0px 8px 16px 0px #abbfe2;
    text-align: center;
    padding-top:10px;
  }
  .volume-slider-con{
    height:11px;
    width:6%;
    position:absolute;
     top: 93%;
     left:93%;
    background-color:#424340;
    border-radius: 20px;
    border: 2px solid #424340;
  }
  .volume-slider{
     height:100%;
     width:100%;
     border-radius: 20px;
     background-color:#285fc1;
     
  }
  .speaker{
    background-image: url("speaker.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height:300%;
    width: 35%;
    transform: translate(-100%, -65%);
  }

  @media only screen and (max-width: 900) {
    .volume-slider-con{
      height:11px;
      width:20%;
      position:absolute;
       top: 93%;
       left:93%;
      background-color:#424340;
      border-radius: 20px;
      border: 2px solid #424340;
    }
    .volume-slider{
      height:100%;
      width:100%;
      border-radius: 20px;
      background-color:#285fc1;
      
   }
  }
  
  