* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    background-image: url("picnictable.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 650px;
    height: 480px;
    
    
}
.dropbtn {
  background-color: #4477CE;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  position:absolute;
  right: 5px;
  top:-3px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top:-55px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #424340;
  
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 48px;
  right: 3px;
  border-radius: 10px;
}

.dropdown-content a {
  color:#4477CE;
  padding: 12px 10px;
  display: block;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  text-align: right;
  font-weight: bold;
}

.dropdown a:hover {
  background-color: #ddd;
}

  .show {
    display: block;
}
  .wrapper {
    position: relative;
  }

p {
  font-size: 20px;
}
.container {
  background-color: #424340;
  width: 80%;
  height:40px;
  border-radius: 15px;
  display: inline-block;
  margin-left:6px;
  
}

#skill-mult, #skill-time {
  background-color:#4477CE;
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 17px;
  border-radius: 15px;
  
  
}

#skill-mult {
  width: 10%;
  font-family: 'Poppins', sans-serif;
  height:40px;
  white-space: nowrap;
  padding-top:8px;
 
}

#skill-time {
  width: 10%;
  height:40px;
  font-family: 'Poppins', sans-serif;
  padding-top:8px;
  white-space: nowrap;

}
h1{
  margin-top:20px;
  font-family: 'Poppins', sans-serif;
  color:#0C356A;
  font-weight: 600;
  background-color: #285fc1;
  min-width: 100%;
  padding: 15px;
  margin-left:-8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#upg-Mult, #upg-timer{
width: 50px;
height: 50px;
border-radius: 12px;
border:none;
background-color:#4477CE;
font-family: 'Poppins', sans-serif;
cursor: pointer;
color:white;
font-size: 22px;
font-weight: bold;

}
#mcost, #tcost {
  padding-top: 0px;
  margin-top:60px;
  margin-left:10px;
  background-color: #0C356A;
  font-family: 'Poppins', sans-serif;
  width:180px;
  color: white;
  white-space: nowrap;
  font-size: 16px;
  max-height: 50px;
  border-radius: 6px;
  border: 2px solid white;
  padding-left:6px;
}
#points {
  margin-top: 93px;
  margin-left:10px; 
}